.display{
    scale: 0.7;
    margin: auto;
    margin-top: -100px;
    border-radius: 1%;
    width: 750px;
    height: 1100px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    padding: 20px; 
    /* Añade espaciado al contenido para separarlo del borde */
    
    
    border: none; /* Sin borde */
        padding: 10px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 
              5px 5px 30px rgba(0, 0, 0, 0.9); 

            


  }
  .imagen{
    border-radius: 2%;
    height: 400px;
    width: 600px;
    opacity: 0.8;
    
    
  }
  .display h1{
    
    text-align:start;
    text-decoration: underline;
    font-size: 55px;
    padding-left: 50px;
    opacity: .6;
  }
  .display p{
    
    font-size: 27px;
    text-align: justify;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  .close-buttonAbout {
    position: absolute;
    top: -20px; /* Ajusta la posición según sea necesario */
    right: 0px; /* Ajusta la posición según sea necesario */
    background: none;
    border: none;
    font-size: 90px;
    cursor: pointer;
    opacity: .6;
    z-index: 2;
}
.close-buttonAbout:hover{
    opacity: 1;
    
}

@keyframes fadeInScale {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.about-appear {
  animation: fadeInScale 0.6s ease forwards;
}
@media only screen and (max-width: 600px) {
  .close-buttonAbout {
    color: rgb(163, 159, 159); /* Cambia el color del botón a blanco */
    top: -10px; /* Ajusta la posición hacia arriba */
    right: -50px; /* Ajusta la posición hacia la derecha */
    font-size: 60px;
  }
}



@media only screen and (max-width: 600px) {
  .display {
    border-radius: 2%;
    scale: 0.8;
    right: 5px;
    margin: auto;
    margin-top: -30px;
    border-radius: 1%;
    width: 45vh;
    height: 750px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    padding: 20px;
  }

  .imagen {
    width: 100%; /* Ajusta el ancho al 90% del contenedor */
    max-width: 500px; /* Establece un ancho máximo */
    min-width: none;
    height: auto; /* Altura automática para adaptarse al contenido */
    margin: auto; /* Centra el elemento horizontalmente */
    display: block; /* Asegura que la imagen sea un elemento de bloque */
  }
  .display h1{
    font-size: 30px;
    padding-left: 0;
  }
  .display p{
    font-size: 18px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
