.header{
 
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  
  
}

.fondo video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: brightness(0.7) contrast(1.1) saturate(1.3);
  
  
}

.header {
  margin: auto;
  margin-top: 120px;
  border-radius: 5%;
  width: 1300px;
  height: 1000px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0); /* Fondo semitransparente */
  padding: 20px; /* Añade espaciado al contenido para separarlo del borde */
  
  
}

.link::before{
  content: "\2190"; /* Código de escape Unicode para la flecha izquierda */
  margin-right: 5px; /* Espacio entre el icono y el texto */
}
.iconos{
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: 100px;
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  
  
}
.icons li:first-child::after {
  content: '';
  display: block;
  width: 3px;
  height: 50%;
  background-color:whitesmoke;
  margin-left: 227px; /* Ajusta según necesites */
  margin-top: -25px;
}

.icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 00px;
  transition: filter 0.3s ease;
}
.icons i:hover {
  filter: brightness(0.9); /* Reducir el brillo al 70% */
}
.icons li{
  padding-left: 60px;
  font-size: 130px;  
}

.iconos a{ color: inherit; /* Hereda el color del texto padre */
  text-decoration: none; /* Elimina el subrayado */}
  .presentacion {
    letter-spacing: 5px;
    margin: auto;
    width: fit-content;
    margin-bottom: 100px;
    color: whitesmoke;
    font-size: 37px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    opacity: 0.9;
    position: relative; /* Agrega posición relativa */
    padding: 20px;
  }
  
  .presentacion::before {
    content: '';
    position: absolute;
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea correctamente */
    width: 130%; /* Ancho de la línea superior */
    height: 3px; /* Altura de la línea */
    background-color: whitesmoke;
    top: -3px; /* Posiciona la línea 3px por encima del borde superior */
  }
  
  .presentacion::after {
    content: '';
    position: absolute;
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea correctamente */
    width: 130%; /* Ancho de la línea inferior */
    height: 3px; /* Altura de la línea */
    background-color: whitesmoke;
    bottom: -3px; /* Posiciona la línea 3px por debajo del borde inferior */
  }
  
  
.presentacion p{
opacity: 0.8;
}

.presentacion a{
  color: inherit; /* Hereda el color del texto padre */
  text-decoration: none; /* Elimina el subrayado */
}

.links ul {
  display: flex;
  justify-content: space-around; /* Distribuir el espacio entre los elementos */
  list-style-type: none;
  padding: 0;
  margin-bottom: 150px; /* Eliminar el padding predeterminado */
  
  
}
.links ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.links ul li {
  flex: 1; /* Hacer que todos los elementos ocupen el mismo espacio */
  text-align: center; /* Centrar el texto horizontalmente */
  padding: 20px; /* Espaciado interno */
  border: 3px solid white;
  color: whitesmoke;
  border-radius: 2%;
  box-sizing: border-box; /* Incluir el borde en el ancho total */
  margin: 0 0px; /* Espacio entre los elementos de la lista */
  transition: background-color 0.3s ease; 
  cursor: pointer;
  
}

.links a {
  color: inherit; /* Heredar color del texto padre */
  text-decoration: none;
  font-size: 30px;
  opacity: 0.8;
  font-weight: bold;
}
.links ul li:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 645px; /* Posiciona la línea arriba del elemento */
  left: 50%; /* Centra la línea horizontalmente */
  transform: translateX(-50%); /* Centra la línea correctamente */
  width: 3px;
  height: calc(8% + 25px); /* Altura de la línea */
  background-color: whitesmoke;
}
.footer{
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  opacity:0.4;
  font-size:15px
}

/*aqui inician los mediaquery para el responsive*/
/*pantallas pequenas */

@media only screen and (max-width: 600px) {
  .header {
    margin-top: 80px; /* Reducir el margen superior */
    width: 90%; /* Ajustar el ancho al 90% del contenedor */
    height: auto; /* Altura automática para adaptarse al contenido */
  }

  .iconos {
    margin-right: 20px; /* Reducir el margen derecho */
  }

  .icons li {
    padding-left: 30px; /* Reducir el padding izquierdo */
    font-size: 80px; /* Reducir el tamaño de la fuente de los íconos */
  }

  .presentacion {
    font-size: 25px; /* Reducir el tamaño de la fuente */
    margin-bottom: 50px; /* Reducir el margen inferior */
  }
  .links ul{
    display: flex;
    flex-direction: column;
  }
  .links ul li {
    padding: 5px;
    border: solid 2px whitesmoke;/* Reducir el padding de los elementos de la lista */
  }
  .links a {
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-size: 20px; /* Reducir el padding de los elementos de la lista */
  }
  .icons li:first-child::after {
    content: '';
    display: block;
    width: 3px;
    height: 80%;
    background-color:whitesmoke;
    margin-left: 130px; /* Ajusta según necesites */
    margin-top: -25px;
  }
  .links ul li:nth-child(2)::after {
   display: none;
  }

  .footer {
    font-size: 12px; /* Reducir el tamaño de la fuente del footer */
  }

  .presentacion::before {
    content: '';
    position: absolute;
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea correctamente */
    width: 90%; /* Ancho de la línea superior */
    height: 3px; /* Altura de la línea */
    background-color: whitesmoke;
    top: -3px; /* Posiciona la línea 3px por encima del borde superior */
  }
  
  .presentacion::after {
    content: '';
    position: absolute;
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea correctamente */
    width: 90%; /* Ancho de la línea inferior */
    height: 3px; /* Altura de la línea */
    background-color: whitesmoke;
    bottom: -3px; /* Posiciona la línea 3px por debajo del borde inferior */
  }
}

/* pantallas medianas*/

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header {
    margin-top: 100px; /* Ajustar el margen superior */
    width: 80%; /* Ajustar el ancho al 80% del contenedor */
  }

  .iconos {
    margin-right: 50px; /* Ajustar el margen derecho */
  }

  .icons li {
    padding-left: 40px; /* Ajustar el padding izquierdo */
    font-size: 100px; /* Ajustar el tamaño de la fuente de los íconos */
  }

  .presentacion {
    font-size: 30px; /* Ajustar el tamaño de la fuente */
    margin-bottom: 80px; /* Ajustar el margen inferior */
  }

  .links ul li {
    
    padding: 20px; /* Ajustar el padding de los elementos de la lista */
  }

  .footer {
    font-size: 14px; /* Ajustar el tamaño de la fuente del footer */
  }
  .icons li:first-child::after {
   display:none;
  }
  .links ul li:nth-child(2)::after {
    display: none;
   }
   .presentacion::before {
    content: '';
    position: absolute;
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea correctamente */
    width: 100%; /* Ancho de la línea superior */
    height: 3px; /* Altura de la línea */
    background-color: whitesmoke;
    top: -3px; /* Posiciona la línea 3px por encima del borde superior */
  }
  
  .presentacion::after {
    content: '';
    position: absolute;
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea correctamente */
    width: 100%; /* Ancho de la línea inferior */
    height: 3px; /* Altura de la línea */
    background-color: whitesmoke;
    bottom: -3px; /* Posiciona la línea 3px por debajo del borde inferior */
  }
}